body{
  background-color: black;
}

.landing-page-container{
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.game-area{
  position: relative;
  /* margin: 50px auto; */
  width: 600px;
  min-width: 600px;
  height: 600px;
  min-height: 600px;
  border:4px solid #fff;
  display: flex;
  justify-content: center;
}

.basic-font{
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.text-center{
  text-align: center;
}

.snake-dot{
  position: absolute;
  /* percents of the parent div (600X600px) so 50 cells in each row/column */
  width: 2%;
  height: 2%;
  background-color: #fff;
  /* so each cube looks separate */
  border: 1px solid #000;
  z-index: 2;
}

.snake-food{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: rgb(47, 255, 89);
  border: 1px solid #000;
  z-index: 1;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over--title{
  font-size: 2rem;
  color: red;
}
.game-over--score{
  font-size: 1rem;
  color: white;
  margin-bottom: 4em;
}

.green{
  color: rgb(47, 255, 89);;
}

.start-game--title{
  font-size: 4rem;
}

.start-game--content{
  position: relative;
  text-align: center;
  border: solid 2px rgb(47, 255, 89);
  padding: 4em;
}

.start-game--btn{
  background-color: black;
  border: 2px solid #4CAF50;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

.hover-green:hover{
  background-color: #4CAF50;
  cursor: pointer;
  transform: scale(1.1);
}

.sidebar-container{
  border: solid 4px white;
  /* margin-left: auto; */
  width: 300px;
  min-width: 300px;
  height: 600px;
  min-height: 600px;
}

.sidebar-container h4{
  font-size: 1rem;
}

.content-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.individual-score{
  font-size: 1rem;
}
.restart--container{
  color: white;
  border: solid white 2px;
  margin-left: 7em;
  margin-right: 7em;
}

.new-highscore{
  position: relative;
  top: 50%;
  animation: zoom-in-zoom-out 2s ease infinite;
  color: gold;
}

.controls-panel__sub-heading{
  margin: 2em 0;
  color: gold;
}

.controls-arrow{
  border: pink 2px 0 solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3em;
}

.controls-arrow__direction{
  margin-left: 1em;
}

.how-to-play__text{
  text-align: justify;
  text-justify: inter-word;
  padding: 0 1em 1em 1em;
  font-size: 0.8rem;
  font-weight: lighter;
}

.signed-in-as__btn{
  background-color: black;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1) translateY(-50%);
  }
  50% {
    transform: scale(1.2, 1.2) translateY(-50%);
  }
  100% {
    transform: scale(1, 1) translateY(-50%);
  }
}

@media (max-width:940px){
  .sidebar-container{
    width: 600px;
    min-width: 600px;
  }
}

