body{
  background-color: black;
}

.landing-page-container{
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.game-area{
  position: relative;
  /* margin: 50px auto; */
  width: 600px;
  min-width: 600px;
  height: 600px;
  min-height: 600px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
}

.snake-dot{
  position: absolute;
  /* percents of the parent div (600X600px) so 50 cells in each row/column */
  width: 2%;
  height: 2%;
  background-color: #fff;
  /* so each cube looks separate */
  border: 1px solid #000;
  z-index: 2;
}

.snake-food{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: rgb(47, 255, 89);
  border: 1px solid #000;
  z-index: 1;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over--title{
  font-size: 2rem;
  color: red;
}
.game-over--score{
  font-size: 1rem;
  color: white;
}

.game-over--content{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.last-score{
  color: rgb(47, 255, 89);;
}

.start-game--title{
  font-size: 4rem;
  color: white;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.start-game--content{
  position: relative;
  text-align: center;
  border: solid 2px rgb(47, 255, 89);
  padding: 4em;
}

.start-game--btn{
  text-align: center;
  background-color: black;
  border: 2px solid #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}

.start-game--btn:hover{
  background-color: #4CAF50;
  cursor: pointer;
  transform: scale(1.1);
}

.leaderboard-container{
  border: solid 2px yellow;
  /* margin-left: auto; */
  width: 300px;
  min-width: 300px;
  height: 600px;
  min-height: 600px;
}

.gamepage-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width:940px){
  .leaderboard-container{
    width: 600px;
    min-width: 600px;
  }
}

